Repository ProfessorAmanda/econsimulations, pull requests merged in 2021-06, with the labels that each got.

#19 Joint Distribution graphs on same line
  src/components/JointDistributions/JDCharts.js
  src/components/JointDistributions/JointChart.js
Labels: Joint Distributions

#21 Joint Distributions Bugfix
  src/components/JointDistributions/JDSimulation.js
Labels: Joint Distributions, bug

#24 convert LLN simulation
  src/components/LawOfLargeNumbers/LLNSimulation.js
  src/components/LawOfLargeNumbers/SimulateSamples.js
Labels: Law of Large Numbers

#23 Graphs adjusted to be as large as possible
  src/components/JointDistributions/JDCharts.js
  src/components/JointDistributions/JointChart.js
Labels: Joint Distributions

#26 Convert confidence intervals
  package-lock.json
  package.json
  src/Final_TTable.txt
  src/ZTable.js
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/ChartContainer.js
  src/components/Collapsable.js
  src/components/ConfidenceIntervals.js
  src/components/ConfidenceIntervals/CISimulation.js
  src/components/ConfidenceIntervals/ChartContainer.js
  src/components/ConfidenceIntervals/ChiSquared.js
  src/components/ConfidenceIntervals/ConfidenceInputs.js
  src/components/ConfidenceIntervals/ConfidenceIntervals.js
  src/components/ConfidenceIntervals/ConfidenceIntervalsChart.js
  src/components/ConfidenceIntervals/Exponential.js
  src/components/ConfidenceIntervals/ManySamplesInput.js
  src/components/ConfidenceIntervals/Normal.js
  src/components/ConfidenceIntervals/PopulationChart.js
  src/components/ConfidenceIntervals/SampleAreaCLT.js
  src/components/ConfidenceIntervals/SampleMeanChart.js
  src/components/ConfidenceIntervals/SamplesTable.js
  src/components/ConfidenceIntervals/TTable.js
  src/components/ConfidenceIntervals/Uniform.js
  src/components/ConfidenceIntervals/ZTable.js
  src/components/ConfidenceIntervals/pValTable.txt
  src/components/DotPlot.js
  src/components/LawOfLargeNumbers/LLNSimulation.js
  src/components/LawOfLargeNumbers/SimulateSamples.js
  src/components/LeastSquares/LeastSquaresChart.js
  src/components/LeastSquares/LeastSquaresSimulation.js
  src/components/OmittedVariableBias/OmittedVariableChart.js
  src/components/PopBar.js
  src/components/PopTable.js
  src/components/SampleMeanSimulator.js
  src/components/SampleSizeInput.js
  src/components/SimBar.js
  src/components/SimulationContainer.js
  src/lib/stats-utils.js
  src/styles/App.css
  src/ttable
  src/ztable
Labels: Confidence Intervals

#37 Cleanup hypothesis testing
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/CentralLimitTheorem/CentralLimitTheorem.js
  src/components/CentralLimitTheorem/SampleMeanChart.js
  src/components/CentralLimitTheorem/SampleMeansSimulator.js
  src/components/CentralLimitTheorem/SampleMeansTable.js
  src/components/ChartContainer.js
  src/components/Collapsable.js
  src/components/ConfidenceIntervals/CISimulation.js
  src/components/ConfidenceIntervals/ConfidenceInputs.js
  src/components/ConfidenceIntervals/ConfidenceIntervalsChart.js
  src/components/ConfidenceIntervals/ManySamplesInput.js
  src/components/ConfidenceIntervals/PopulationChart.js
  src/components/ConfidenceIntervals/SamplesTable.js
  src/components/DotPlot.js
  src/components/HypothesisTesting.js
  src/components/HypothesisTesting/ChartContainer.js
  src/components/HypothesisTesting/HTSimulation.js
  src/components/HypothesisTesting/HypothesisDropdown.js
  src/components/HypothesisTesting/HypothesisTesting.js
  src/components/HypothesisTesting/MysteryPop
  src/components/HypothesisTesting/MysteryPop.js
  src/components/HypothesisTesting/TTest.js
  src/components/HypothesisTesting/TestInputs.js
  src/components/HypothesisTesting/tToAlpha
  src/components/HypothesisTestingNew.js
  src/components/InputSlider.js
  src/components/JointDistributions/JDCharts.js
  src/components/JointDistributions/JointChart.js
  src/components/JointDistributions/MeanSDInput.js
  src/components/LawOfLargeNumbers/LLNSimulation.js
  src/components/LawOfLargeNumbers/SimulateSamples.js
  src/components/LeastSquares/LeastSquaresChart.js
  src/components/LeastSquares/NewPointsInput.js
  src/components/LeastSquares/PlotLine.js
  src/components/Old/CLTLLNIntro.js
  src/components/Old/ChartContainerJoint.js
  src/components/Old/Delayed.js
  src/components/Old/HelpModal.js
  src/components/Old/JointAdvanced.js
  src/components/Old/JointSimple copy.js
  src/components/Old/JointSimple.js
  src/components/Old/JointSimple2.js
  src/components/Old/MeanButton.js
  src/components/Old/Old-CentralLimitTheorem.js
  src/components/Old/Old-LawOfLargeNumber.js
  src/components/Old/Test.js
  src/components/Old/ToggleJoint.js
  src/components/OmittedVariableBias/CoefficientInput.js
  src/components/OmittedVariableBias/OmittedVariableChart.js
  src/components/PopBar.js
  src/components/PopTable.js
  src/components/SampleSizeInput.js
  src/components/SelectorButtonGroup.js
  src/components/SimBar.js
  src/components/SimBarOption.js
  src/components/SimulationContainer.js
  src/components/StartHere.js
Labels: Hypothesis Testing

#40 fix highlight bug and enable zoom
  src/components/ConfidenceIntervals/CISimulation.js
  src/components/ConfidenceIntervals/ConfidenceIntervalsChart.js
Labels: Confidence Intervals

#43 Fix spacing
  src/components/ChartContainer.js
  src/components/ConfidenceIntervals/CISimulation.js
  src/components/JointDistributions/JDSimulation.js
  src/components/LeastSquares/LeastSquaresSimulation.js
  src/components/OmittedVariableBias/OVBSimulation.js
  src/components/PopBar.js
Labels: Confidence Intervals, Joint Distributions, Least Squares, Omitted Variable Bias, design/styling

#45 PropTypes Review
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/CentralLimitTheorem/CentralLimitTheorem.js
  src/components/CentralLimitTheorem/SampleMeansSimulator.js
  src/components/CentralLimitTheorem/SampleMeansTable.js
  src/components/ChartContainer.js
  src/components/Collapsable.js
  src/components/ConfidenceIntervals/CISimulation.js
  src/components/ConfidenceIntervals/ConfidenceInputs.js
  src/components/ConfidenceIntervals/ConfidenceIntervals.js
  src/components/ConfidenceIntervals/ConfidenceIntervalsChart.js
  src/components/ConfidenceIntervals/ManySamplesInput.js
  src/components/ConfidenceIntervals/PopulationChart.js
  src/components/ConfidenceIntervals/SamplesTable.js
  src/components/DotPlot.js
  src/components/HypothesisTesting/HTSimulation.js
  src/components/HypothesisTesting/TestInputs.js
  src/components/InputSlider.js
  src/components/JointDistributions/JDCharts.js
  src/components/JointDistributions/JDSimulation.js
  src/components/JointDistributions/JointChart.js
  src/components/JointDistributions/JointDistributions.js
  src/components/JointDistributions/MeanSDInput.js
  src/components/LawOfLargeNumbers/LLNSimulation.js
  src/components/LawOfLargeNumbers/LawOfLargeNumbers.js
  src/components/LawOfLargeNumbers/SimulateSamples.js
  src/components/LeastSquares/LeastSquares.js
  src/components/LeastSquares/LeastSquaresChart.js
  src/components/LeastSquares/LeastSquaresSimulation.js
  src/components/LeastSquares/NewPointsInput.js
  src/components/LeastSquares/PlotLine.js
  src/components/OmittedVariableBias/CoefficientInput.js
  src/components/OmittedVariableBias/OVBSimulation.js
  src/components/OmittedVariableBias/OmittedVariableChart.js
  src/components/PopBar.js
  src/components/PopTable.js
  src/components/SampleSizeInput.js
  src/components/SelectorButtonGroup.js
  src/components/SimBar.js
  src/components/SimBarOption.js
  src/components/SimulationContainer.js
  src/components/SimulationMenu.js
  src/components/StartHere.js
  src/lib/stats-utils.js
  src/lib/types.js
Labels: documentation

#58 Redo data format
  src/App.js
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/CentralLimitTheorem/SampleMeansSimulator.js
  src/components/CentralLimitTheorem/SampleMeansTable.js
  src/components/ChartContainer.js
  src/components/ConfidenceIntervals/CISimulation.js
  src/components/ConfidenceIntervals/ConfidenceInputs.js
  src/components/ConfidenceIntervals/ConfidenceIntervals.js
  src/components/ConfidenceIntervals/ConfidenceIntervalsChart.js
  src/components/ConfidenceIntervals/ManySamplesInput.js
  src/components/ConfidenceIntervals/PopulationChart.js
  src/components/DotPlot.js
  src/components/HypothesisTesting/HypothesisDropdown.js
  src/components/HypothesisTesting/TTest.js
  src/components/JointDistributions/JDCharts.js
  src/components/JointDistributions/JointChart.js
  src/components/LawOfLargeNumbers/LLNSimulation.js
  src/components/LawOfLargeNumbers/LawOfLargeNumbers.js
  src/components/LawOfLargeNumbers/SimulateSamples.js
  src/components/LeastSquares/LeastSquaresChart.js
  src/components/LeastSquares/PlotLine.js
  src/components/OmittedVariableBias/OVBSimulation.js
  src/components/OmittedVariableBias/OmittedVariableChart.js
  src/components/PopTable.js
  src/components/SimBar.js
  src/components/SimulationContainer.js
  src/lib/constants.js
  src/lib/stats-utils.js
  src/lib/types.js
  src/styles/App.css
Labels: Central Limit Theorem, Confidence Intervals, Law of Large Numbers, code structure/implementation

#61 Use jstat
  src/components/HypothesisTesting/DataDisplay.js
  src/components/HypothesisTesting/HTSimulation.js
  src/components/HypothesisTesting/HypothesisDropdown.js
  src/components/HypothesisTesting/HypothesisSelector.js
  src/components/HypothesisTesting/PerformTest.js
  src/components/HypothesisTesting/PopulationChartReveal.js
  src/components/HypothesisTesting/SampleSizeAlphaInput.js
  src/components/HypothesisTesting/TTest.js
  src/components/HypothesisTesting/TToPval.js
  src/lib/constants.js
Labels: Hypothesis Testing

#69 Update clt chart
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/CentralLimitTheorem/SampleMeanChart.js
  src/components/CentralLimitTheorem/SampleMeansSimulator.js
  src/components/CentralLimitTheorem/SampleMeansTable.js
  src/components/DotPlot.js
  src/lib/types.js
Labels: Central Limit Theorem, code structure/implementation

#68 fix squares!
  src/components/LeastSquares/LeastSquaresChart.js
Labels: Least Squares

#71 simplify css a lot
  pVal_zScore.xlsx
  src/App.js
  src/README
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/CentralLimitTheorem/CentralLimitTheorem.js
  src/components/CentralLimitTheorem/SampleMeansTable.js
  src/components/ChartContainer.js
  src/components/ConfidenceIntervals/ConfidenceInputs.js
  src/components/ConfidenceIntervals/ConfidenceIntervals.js
  src/components/ConfidenceIntervals/ConfidenceIntervalsChart.js
  src/components/ConfidenceIntervals/PopulationChart.js
  src/components/ConfidenceIntervals/SamplesTable.js
  src/components/HypothesisTesting/DataDisplay.js
  src/components/HypothesisTesting/HTSimulation.js
  src/components/HypothesisTesting/HypothesisSelector.js
  src/components/HypothesisTesting/HypothesisTesting.js
  src/components/HypothesisTesting/PerformTest.js
  src/components/HypothesisTesting/PopulationChartReveal.js
  src/components/HypothesisTesting/TestInputs.js
  src/components/InputSlider.js
  src/components/JointDistributions/JDSimulation.js
  src/components/JointDistributions/JointDistributions.js
  src/components/LawOfLargeNumbers/LLNSimulation.js
  src/components/LawOfLargeNumbers/LawOfLargeNumbers.js
  src/components/LawOfLargeNumbers/SimulateSamples.js
  src/components/LeastSquares/LeastSquares.js
  src/components/LeastSquares/LeastSquaresSimulation.js
  src/components/LeastSquares/NewPointsInput.js
  src/components/OmittedVariableBias/CoefficientInput.js
  src/components/OmittedVariableBias/OVBSimulation.js
  src/components/OmittedVariableBias/OmittedVariableBias.js
  src/components/PopBar.js
  src/components/PopTable.js
  src/components/SampleSizeInput.js
  src/components/SimBar.js
  src/components/SimBarOption.js
  src/components/SimulationContainer.js
  src/components/SimulationMenu.js
  src/components/StartHere.js
  src/lib/constants.js
  src/styles/App.css
  src/styles/MarzEg.css
  src/styles/dark-unica.css
  src/styles/grid-light.css
  src/styles/index.css
Labels: design/styling

#73 Tests
  package-lock.json
  package.json
  src/App.test.js
  src/__tests__/App.test.js
  src/__tests__/DotPlot.test.js
  src/__tests__/InputSlider.test.js
  src/__tests__/PopBar.test.js
  src/__tests__/PopTable.test.js
  src/__tests__/SampleSizeInput.test.js
  src/__tests__/SimBar.test.js
  src/components/CentralLimitTheorem/CentralLimitTheorem.js
  src/components/ConfidenceIntervals/ConfidenceIntervals.js
  src/components/LawOfLargeNumbers/LawOfLargeNumbers.js
  src/components/PopBar.js
  src/components/SimBar.js
  src/components/SimulationContainer.js
  src/components/SimulationMenu.js
  src/lib/stats-utils.js
  src/setupTests.js
Labels: testing

#76 Create main.yml
  .github/workflows/main.yml
Labels: GitHub

#81 clt button fix
  src/components/CentralLimitTheorem/CLTSimulation.js
  src/components/CentralLimitTheorem/SampleMeanChart.js
Labels: Central Limit Theorem, urgent
